body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-x: hidden;
    
}

.nbav{
    height:100%;
    position: fixed;
    width: 0;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    opacity: .9;
    overflow-x: hidden;
    padding: 60px;
    transition: 0.7s;
}

header{
    position: absolute;
    padding: 0 100px;
    background: black;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    left: 0;
    
}

header .logo{
    color: blanchedalmond;
    height: 50px;
    line-height: 50px;
    float: left;
    font-weight: bold;

}

header nav{
    float: right;  
}

header nav ul{
    margin: 0;
    margin: 0;
    display: flex;

}


header nav ul li{
    list-style: none;
}

header nav ul li a{
    height: 50px;
    padding: 0 20px;
    color: blanchedalmond;
    text-decoration: none;
    display: block;
}

header nav ul li a:hover,
header nav ul li a.active{
    color: brown;
    background-color: darkgoldenrod;  
}

.toggle-menu{
    color: darksalmon;
    float: right;
    line-height: 50px;
    cursor: pointer;
    float: right;
    font-size: 24px;
    display: none;

}

@media(max-width:991px){
    header{
        padding: 0 20px;
    }

    .toggle-menu{
        display: block;
    }

    header nav{
       position: absolute;
       width: 100%;
       height: cal(100vh - 50px);
       background: #333;
       top: 50px;
       transition: 0.5s;
       display: none;
       left: -100px;
    }

    nav ul.show{
        left: 0;
    }

    header nav.active{
        left: -100;
    }

    header nav ul{
        display: block;
        text-align: center;
    }

}
header nav ul a{
    border-bottom: 1px solid blanchedalmond;
}



